{% extends "_includes/default.njk" %}

{% block content %}

<div class="relative h-screen w-full flex items-center justify-center bg-cover bg-center text-center px-5" style="background-image:url(images/bg.webp);">
  <div class="absolute top-0 right-0 bottom-0 left-0 bg-gray-900 opacity-75"></div>

  <div class="z-50 flex flex-col justify-center text-white w-full h-screen">
    <h1 class="text-5xl mb-6">Trading Assistant</h1>
    <h2 class="text-3xl mb-10">An opinionated semi-automated crypto trading strategy</h2>

    <div class="mt-5 mb-5">
      <div class="shadow w-full bg-white mt-2 max-w-2xl mx-auto rounded-full">
        <div class="rounded-full bg-indigo-600 text-xs leading-none text-center text-white py-1" style="width: 95%">95%</div>
      </div>
    </div>

    <p class="text-xl">Stay tuned for something amazing!!!</p>
  </div>
</div>

{% endblock %}
