{% extends "_includes/default.njk" %}

{% block content %}
<header class="mx-auto text-center mt-16">
  <h1 class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl">
    <a href="/">Trading Assistant</a>
  </h1>
  <h2 class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl">An opinionated semi-automated crypto trading strategy</h2>
</header>
{% endblock %}
